// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700&display=swap');

// Variables
@import 'variables';

$theme-colors: (

        "primary": #abd17b,
        "danger": rgb(255, 114, 94)

);


// Bootstrap
@import '~bootstrap/scss/bootstrap';


// Font Awesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';


// Header
.navbar-laravel {

  background-color: #ffffff;
}

.header-bg {
  background-image: url("/../images/header2.png");
  background-position: 50% 80%;
  background-size: cover;

}


.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
  float: left;
  position: relative;
}


.navbar-light .navbar-nav .active a::after {
  border-bottom: 5px solid #b7dd85;
  bottom: -10px;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
}


// Footer
.page-footer {
  background-color: #ebe8e6;
}

// Icons
.far {
  color: #afacaa;
}

.fas {
  color: #afacaa;
}


// Card Header

.card-vendor-header {
  background-color: rgb(236, 255, 196);
}


// Commonly used colors

.cl-white {
  color: white;
}


// Footer alignment

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
}



footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  //height: 2.5rem;
}

//


